.area-item {

}

.area-item p {
    border-bottom:1px solid #DDD;
    width:100%;
    display:block;
    margin:8px;
    padding:4px;
    font-size:28rpx;
    color:#333;
}

.city {
    padding:8px;
    min-height:30px;
    height:auto;
    overflow:hidden;
}
.city .city-item {
    border:1px solid rgba(9, 187, 7, 1);
    margin:4px;
    padding:4px;
    float:left;
    font-size:32rpx;
    background-color:rgba(9, 187, 7, .2);
    color:rgba(9, 187, 7, 1);
}