.input-item {
	padding: 8rpx;
	font-size: 34rpx;
}
.auth-wrapper {
	margin-top: 68rpx;
}
.input-section {
	border-bottom:1px solid #aaa;
	margin:18rpx;
	margin-top:68rpx;
}
.input-section.active {
	border-color: #5ccdb8;
}

page {
	height: 100%;
	background-color: #f7f7f7;
}

