page {
	background-color: #f7f7f7;
	height: 100%;
}
.photo-container {
	border:2px dashed #888888;
	height:458rpx;
	margin:14rpx;
	position: relative;
}


.camera-btn {
	color: #888888;
	background-color: transparent !important;
	border: none !important;
	width:100%;
	line-height:458rpx;
	text-shadow:2px 2px #EEE;
}
#photo-action #preview-btn i{
	background-color: #C8E6C9;
	color: #4CAF50;
}
#photo-action #preview-btn span{
	color: #4CAF50;
}
#photo-action #preview-btn i:active {
	background: transparent;
	border: 1px solid #4CAF50;
}
#photo-action #upload-btn i{
	background-color: #CE93D8;
	color: #8E24AA;	
}
#photo-action #upload-btn i:active{
	background: transparent;
	border: 1px solid #8E24AA;
}
#photo-action #upload-btn span{
	color: #8E24AA;	
}